<div class="container">
  <div class="row">
    <div class="col-sm-12 pt-5">
    <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Search Stack Overflow Project</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Be My Guest, go ahead search" name="searchbox"
    [(ngModel)]="searchTerm" (input)="getInfo()">
  </div>
</form>



<ul class="list-unstyled social-icons social-ul-list">
     <!-- looping through server infos data from server and limiting to only 12 results -->
      <li class="my-5" *ngFor="let isv of infos  | slice:0:12 | filter: searchTerm">


       <div appHighlight class="border border-left-0 py-4 border-secondary info-container">

            <p class="item-text text-primary"> <img src="{{isv.owner.profile_image}}" alt="image profile" class="rounded float-left img-fluid rounded-circle align-middle" height="40" width="40">
              &nbsp; <span class="align-middle">{{isv.owner.display_name}}</span></p>
            <p class="item-text mb-0  text-capitalize"> <strong class="text-dark">{{isv.owner.display_name}} Score Is:</strong> {{isv.score}}</p>
            <p class="item-text mb-0  text-capitalize"> <strong class="text-dark">{{isv.owner.display_name}} Count On Stackoverflow Is:</strong> {{isv.view_count}}</p>
            <p class="item-text text-capitalize mb-0"> <strong class="text-dark ">{{isv.owner.display_name}} Used These Tags:</strong> {{isv.tags}}</p>
            <p class="item-text mb-0  text-capitalize"  text-capitalize> <strong class="text-dark">{{isv.owner.display_name}} Asked/Answered Question On:</strong> {{isv.creation_date | date: 'shortDate'}}</p>
            <p class="mb-0  text-capitalize"><strong class="text-dark">{{isv.owner.display_name}} asked this question </strong> <a class="item-text" href="{{isv.link}}" target="_blank"> Question </a></p>
      </div>
      </li>
    </ul>



</div>
  </div>
</div>
